<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Main"
         point="org.eclipse.core.runtime.applications">
        <application
               cardinality="singleton-global"
               thread="main"
              visible="true">
           <run
                 class="fr.inria.verveine.extractor.fortran.plugin.PluginApplication">
           </run>
        </application>
   </extension>
   <extension
         id="700"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="verveine.extractor.fortran">
         <property
               name="appName"
               value="verveine.extractor.fortran">
         </property>
      </product>
   </extension>
   <extension
         id="fortranParser"
         point="org.eclipse.core.runtime.products">
      <product
            application="verveine.extractor.Fortran.Main"
            name="Fortran parser">
         <property
               name="appName"
               value="Fortran parser">
         </property>
      </product>
   </extension>

</plugin>
